.three-d-image-wrapper {
  --border-radius: 10px;

  perspective: 1500px;

  .three-d-image {
    border-radius: var(--border-radius);
    transition-duration: 300ms;
    transition-property: transform, box-shadow;
    transition-timing-function: ease-out;
    transform: rotate3d(0, 0, 0, 0);
    box-shadow: 0 5px 20px 5px #00000044;

    .image-card {
      object-fit: cover;
      width: 100%;
      height: 100%;

      display: block;
      font-weight: bold;
      text-align: right;
      color: #181a1a;

      box-shadow: 0 1px 5px #00000099;

      border-radius: var(--border-radius);
      background-size: cover;

      position: relative;
    }
  }

  .glow {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: var(--border-radius);
    background-image: radial-gradient(circle at 50% -20%, #ffffff22, #0000000f);
  }
}